* {
  padding: 0;
  margin: 0;
  /* border: 0; */
  box-sizing: border-box;
}

.main-container {
  height: 60vh;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(123, 175, 254);
  height: 100px;
  margin-bottom: 20px;
}

.dropdown-section {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.select-user-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.dropdown-textarea {
  display: flex;
  justify-content: space-evenly;
}

.title-body-button {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button {
  width: 50px;
}

.checkbox {
  margin-left: 10px;
}

#checkbox-paragraph {
  margin-left: 40px;
  margin-top: 15px;
  font-size: x-large;
}
